<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="168af87f-30af-4d1b-8572-272373e98ff6"
    Publisher="CN=xamarin"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="168af87f-30af-4d1b-8572-272373e98ff6" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FallCreatorsApp</DisplayName>
    <PublisherDisplayName>Alexej Sommer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="FallCreatorsApp.App">

      <Extensions>
        <uap5:Extension
      Category="windows.startupTask"
      Executable="FallCreatorsApp.exe"
      EntryPoint="FallCreatorsApp.App">
          <uap5:StartupTask
            TaskId="FallCreatorsAppId"
            Enabled="false"
            DisplayName="FallCreatorsApp" />
        </uap5:Extension>
      </Extensions>

      <uap:VisualElements
        DisplayName="FallCreatorsApp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="FallCreatorsApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>